.main {
  max-width: 820px;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.main h2 {
}

.main p, .main h1 {
}

.main h1 {
  font-family: Poppins;
  font-weight: 600;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2em 0;
}

.header h1, .header h2 {
  margin: 0;
  line-height: 1.2em;
}

.header h1 {
  font-size: 5rem;
  margin-top: 1em;
}
.header h2 {

  font-size: 3rem;
}

.resume h1 {
  font-size: 1.4rem;
}
.resume h2 {
  font-size: 1.2rem;
}

.resume p, .resume ul {
  font-size: .9rem;
  line-height: 1.4em;
}

.resume ul {
  padding-left: 1.2rem;
  margin: 0;
}

.gradient {
  outline: none;
  background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: animate 14s linear infinite;
}
@keyframes animate {
  to{
    background-position: 400%;
  }
}

.capture {
  color: #000 !important;
  width: 850;
  height: 1100px;
  background: #fff;
}

.filters {
  background: #0b3354;
  padding: 20px;
  border-radius: 20px;
}

.filters button {
  padding: 10px;
  border-radius: 20px;
  border:none;
  background: #8452f5;
  cursor: pointer;
  transition: .2s ease all;
  margin: 5px;
}
.filters button:hover {
  background: #6b65e5;
}